{% extends 'home.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="form-block">
              <div class="mb-1">
                <h1>Registration page</h1>
              </div>
              <span class="mb-0 text-muted">
                {% if messages %}
                {% for mess in messages %}
                <div class="alert alert-{{mess.tags}}" role="alert">
                  {{mess}}
                </div>
                {% endfor %}
                {% endif %}
                <br>
              </span>
              {% if otp %}
              <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                  <legend class="border-bottom display">
                    <h3 class="float-left">Verify Your Email</h3>
                  </legend>
                  <input type="hidden" name="usr" value="{{usr.username}}">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">OTP</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Your OTP" aria-label="OTP"
                      aria-describedby="basic-addon1" name='otp'>
                  </div>

                </fieldset>
                <div class="form-grounp">
                  <button class="btn mainbtn" type="submit">Verify</button>
                  <small class="float-right text-muted"><i><a href="#" class="text-dark"
                        onclick="ReSendOTP('{{usr.username}}', 'resendOTPmess')"><i id="resendOTPmess">Resend</i>
                        OTP</a></small>
                </div>
              </form>
              {% else %}
              <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <span class="text-error">{{ form.errors }}</span>
                <input type="submit" value="Register" class="btn btn-pill text-white btn-block btn-primary">
              </form>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock content %}