{% extends 'home.html' %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.first_name}}</td>
            <td>{{user.username}}</td>
            <td><a type="button" class="btn btn-sm btn-danger">Remove</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}